<app>
    <navigation views={views} view={view}></navigation>
    <main id="mountpoint"></main>
    <script>
        import './navigation.html'

        this.views = {
            index : {title:'App'},
            example : {title:'EXAMPLE'},
            miau : {title:'MIau'},
        }

        this.view = 'index'

        riot.route('/*', (item) => {
            // Check if the requested view is part of this.views
            if (!!~Object.keys(this.views).indexOf(item)) {
                // Use NodeJS Style require
                try {
                    require(`./views/${item}.html`)
                    this.view = item
                    var view = riot.mount(this.mountpoint, item, this.views[item])[0]
                    this.tags[item] = view
                    extend(view.opts, {views : this.views})
                    view.parent = this
                    this.update()
                } catch (e) {
                    console.warn(e);
                }
            }
        })
        this.on('mount', () => {
            riot.route.start(true)
            riot.route(`/${this.view}`)
        })
    </script>
</app>
