<app>
    <navigation views={views}></navigation>
    <main data-is={view}></main>
    <script>
        import './navigation.html'

        this.views = {
            index : {title:'App'},
            example : {title:'EXAMPLE'},
            miau : {title:'MIau'},
        }

        this.view = 'index'

        riot.route('/*', (item) => {
            // Check if the requested view is part of this.views
            if (!!~Object.keys(this.views).indexOf(item)) {
                // Use NodeJS Style require
                try {
                    require(`./views/${item}.html`)
                    this.view = item
                } catch (e) {
                     console.log(e);
                }

                riot.route(`/${this.view}`)
                riot.mount(item, this.views[item])
                this.update()
            }
        })
        riot.route.start(true)
        riot.route(`/${this.view}`)
    </script>
</app>
