<navigation>
    <nav>
        <a each={key, view in opts.views} class={active:opts.view==view} href="#/{key}">{view.title}</a>
    </nav>
    <style type="less" scoped>
        @import "css/variables.less";
        :scope {
            display: block;
        }
        nav {
            background: @color-secondary-darker;
            a {
                display: inline-block;
                padding: 1.5em 1em;
                color: @color-light;
                &:hover {
                    background: @color-light;
                    color: @color-secondary-darker;
                }
            }
        }
    </style>
</navigation>
